<h1>Browse all players and filter below!</h1>
<body class="background-layout-index">
  <div class="row">
  
    <% @listings.each do |listing| %>
      <div class="tile_all four columns">
        <%= link_to "#{listing.name} - #{listing.position}", listing_path(listing) %><br>
        <%= listing.bio %><br>
        <%= youtube_thumb_embed(listing.film).html_safe %>
        San Juan Soccer Club  2013<br>
      </div>
    <% end %>
  </div>
</div>
