<h1>Browse all players and filter below!</h1>
<body class="background-layout-index">
  <div class="row">
  
    <% @listings.each do |listing| %>
      <div class="tile_all four columns">
        <%= link_to "#{listing.name}", listing_path(listing) %><br>
        <%= listing.bio %><br>
        <%= listing.position %><br>
        <%= youtube_thumb_embed(listing.film).html_safe %> <br>
      </div>
    <% end %>
  </div>
</div>
