<p id="notice"><%= notice %></p>
<div class="row errrr">
  <p>
    <b>Bio:</b>
    <%= @listing.bio %>
  </p>

  <%= link_to 'Edit', edit_listing_path(@listing) %> |
  <%= link_to 'Back', listings_path %>
</div>