<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Zach Bruhnke" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/blog/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/blog/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

<div class="site">
  <div class="title">
    <a href="/blog">Ole</a>
    <a class="extra" href="/blog">by 54footy</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        54footy blog<br />
        <a target="_blank" href="http://54footy.com">54footy</a><br />
        tony@54footy.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a target="_blank" href="http://twitter.com/54footy/">twitter.com/54footy</a><br />
        Our latest project <a target="_blank" href="http://webforwomenssoccer.54footy.com">webforwomenssoccer.54footy.com</a>
      </p>
    </div>
  </div>
</div>
<!-- Google Analytics -->

<!-- Google Analytics end -->

</body>
</html>
