<div class="row navbar pretty" id="nav1">
  <!-- Toggle for mobile navigation, targeting the <ul> -->
  <h3 class="twelve push_one columns">
    <span style="color: white;">Forward - Class of 2016 - SJSC Rangers - Stevie Anders </span>
  </h3>
</div>
<div class="row">
  <div class="twelve columns">
    cinemea
  </div>
</div>