<nav id="navbar-main-nav" class="navbar">
  <div class="row">
    <h1 class="four columns">
      <a href="/">
        <h4 class="product_name pull left">Breakaway.io</h4>
      </a>
    </h1>
    <nav class="push_five three columns pull_right mailer_blog">
      <ul class="main-nav pull right">
        <li><%= link_to "Blog", blog_path %></li>
        <li><a href="mailto:support@54footy.com">Contact</a></li>
      </ul>
    </nav>
  </div>
</nav>
<!-- End Header and Nav -->

<div class="second_section">
  <div class="row">
    <div class="twelve columns" style="margin-top:15px;background-color:white;border-radius:4px;padding:50px;">
      <p>Thanks for requesting an invite!</p>

      <p>We use a service called <a href="http://www.mailchimp.com">mailchimp</a> to keep track of coaches requesting invites. So now, mailchimp will have sent you an email asking you to confirm that you are who you say you are so we can send you the Breakaway.io invitation. Mailchimp and the confirmation email helps protect us against sending invites to fake accounts. </p>

      <p>Don't hesitate to reach out with any questions to <a href="mailto:support@54footy.com">support@54footy.com</a></p>

      <p>Thanks and see you on the inside soon!</p>
      <p>-54footy team</p>
      <hr>
      <p>Think another coach might benefit from this service? Spread the word and <a href="mailto:?subject=They actually make a lot of good points&amp;body=Thought you might like this, seems pretty cool. http://www.54footy.com." title="Share by Email">Email this page</a></p>
      
    </div>
</div>
  <!-- Footer -->
  
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p><em>Breakaway.io is a product of 54footy, built in California</em></p>
        </div>
      </div>
    </div> 
  </footer>

