<nav class="top-bar" style="margin-bottom:0px;">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><%= link_to "Breakaway.io", "/" %></a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider hide-for-small"></li>
      <li class="active" id="sign_in"><a href="#">Sign In</a></li>
      <li class="divider"></li>
      <li><a href="#">Blog</a></li>
      <li class="divider show-for-small"></li>
      <li class="divider"></li>
      <li><a href="mailto:support@54footy.com">Contact</a></li>
      <li class="divider show-for-small"></li>
    </ul>
  </section>
</nav>  
<!-- End Header and Nav -->

<div class="second_section">
  <div class="row">
    <div class="twelve columns" style="margin-top:15px;background-color:white;border-radius:4px;padding:50px;">
      <p>Thanks for requesting an invite!</p>

      <p>We use a service called <a href="http://www.mailchimp.com">mailchimp</a> to keep track of coaches requesting invites. So now, mailchimp will have sent you an email asking you to confirm that you are who you say you are so we can send you the Breakaway.io invitation. This confirmation email helps protect us against sending invites to fake accounts. </p>

      <p>Don't hesitate to reach out with any questions to <a href="mailto:support@54footy.com">support@54footy.com</a></p>

      <p>Thanks and see you on the inside soon!</p>
    </div>
</div>
  <!-- Footer -->
  
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p><em>Breakaway.io is a product of 54footy, built in California</em></p>
        </div>
      </div>
    </div> 
  </footer>

