<div class="second_section">
  <div class="row">
    <br>
    <%= link_to "<-- Back To All listings", "/" %>
    <br>
    <div class="twelve coulmuns main_card">
      <div class="row">
        <div class="four columns">
          <div class="row">
            <h5><a href="#">Edit Your Player Listing</a></h5>
            <p>Here you can add additional videos, update tournament schedul, update bio</p>
          </div>
          <div class="row">
            <h5><a href="#">Edit Video Descriptions</a></h5>
            <p>Here you can edit or add the captions of your videos. Get coaches to click on your listing!</p>
          </div>
          <div class="row">
            <h5><%= link_to "Manage Your Account", edit_player_registration_path %></h5>
            <p>Here you can upgrade or edit your account information</p>
          </div>
        </div>
        <div class="eight columns">
          <div class="row" style="text-align:center;">
            <h4>Your Profile is listed as Tony Ramirez!</h4>
          </div>
          <div class="row" style="background-color: yellow;">
            <br><br><br>
            <br><br><br>
            <br><br><br>
            <br><br><br>
          </div>
          <div class="row" style="text-align:center;">
            <a href="#">View your profile as coaches do!</a>
          </div>
        </div>
      </div>  
    </div>  
  </div>
</div>