/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require gumby
 *= require_tree .
 */

p.notice {
	margin: 0px;
}
p.alert {
	margin: 0px;
}
.marketing_header {
	line-height: 64px;
	font-weight: 300;
	margin-top: 15px;
	font-size: 2.75em;
}
/* For devise I suppose */
