// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tile_all {
	border: 1px solid #cdcdcd;
	background-color: white;
	border-radius: 4px;
}

.background-layout-index {
	background: url('/assets/noise.png') repeat;
	
}