// Place all the styles related to the marketing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*navigation styling*/
.navbar {
	background-color: black;
	border:none;
	margin-bottom: 0px;
}
.product_name {
	color: white;
}
.mailer_blog a {
	color: white;
}
.mailer_blog a:hover {
	color: #A80000;
}
.navbar ul li {
	padding-top: 10px;
	border-right: none;
}
.success {
	background: #58c026; 
	border: 1px solid #58c026;
	color: white;
	font-weight: bold;
	padding: 3px;
}
.success:hover {
	background: #72d940;
	color: white;
	font-weight: bold;
}
.info {
	margin-right: 3px;
	background: #3085d6; 
	border: 1px solid #3085d6;
	color: white;
	font-weight: bold;
	padding: 3px;
}


.info:hover {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a2d4fc), color-stop(100%, #54b2fe)); 
	background-image: -webkit-linear-gradient(#a2d4fc, #54b2fe); 
	background-image: -moz-linear-gradient(#a2d4fc, #54b2fe); 
	background-image: -o-linear-gradient(#a2d4fc, #54b2fe); 
	background-image: linear-gradient(#a2d4fc, #54b2fe); 
	box-shadow: inset 0 0 3px white; 
	border: 1px solid #0e90f8;
	color: white;
	font-weight: bold;
	
}

.metro {
	
}
/* end navigation styling*/
.marketing_header {
	font-family: "Open Sans";
}
.second_section{
	background: url('/assets/noise.png') repeat;
	height: 3650px;
}
.marketing_header {
	background: none repeat scroll 0 0 rgba(255, 255, 255, .7);
	color: black;
	text-align: center;
}
.play_button {
	margin-top: -170px;
	margin-left: 415px;
	position:absolute;
}
.play_small {
	position: absolute;
	margin-left: -88px;
	margin-top: 40px;
}
.pulledquote:before {
	display: block;
	float: right;
	content: attr(data-pullquote);
	padding: 0 0 0 10px;
	margin: 0 100px 10px 10px;
	width: 270px;
	font-size: 1.50em;
	line-height: 1.4em;
	text-align: right;
	color: #A80000;
	font-style: italic;
}
.pulledquote-left:before {
	display: block;
	float: left;
	content: attr(data-pullquote);
	padding: 0 0 0 10px;
	margin: 0 50px 10px 0px;
	width: 270px;
	font-size: 1.50em;
	line-height: 1.4em;
	text-align: right;
	color: #A80000;
	font-style: italic;
}
.tick_town {
	background-color: #58c026;
	border-radius: 3px;
}
.indent_list {
	margin-left: 30px;
}
.invitation_box {
	color: white;
	background-color: #3085d6;
	border-radius: 4px;
}
#invitation_title {
	color: #F8F8FF;
	text-align: center;
}
.car{
	text-align: center;
}
.car_it {
	width: 80%;
}
@media (max-width: 775px) {
	.car3 {
		width: 100%;
	}
	.car_it {
		width: 100%;
	}
	.padding {
		padding: 8px;
	}
} 
.car3 {
	text-align: center;
}
.car3_it {
	width: 80%;
}
#trust_print {
	font-size: .75em;
	color: gray;
}

input {
	height: 35px;
}
::-webkit-input-placeholder {
   color: green;
   font-size: 1.15em;
}

:-moz-placeholder { /* Firefox 18- */
   	color: green;
	font-size: 1.15em;
}

::-moz-placeholder {  /* Firefox 19+ */
   	color: green;
	font-size: 1.15em;  
}

:-ms-input-placeholder {  
   color: green;
   font-size: 1.15em;
}




