// Place all the styles related to the marketing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.second_section{
	background: url('/assets/noise.png') repeat;
	height: 3450px;
}
.marketing_header {
	background: none repeat scroll 0 0 rgba(255, 255, 255, .7);
	color: black;
	text-align: center;
}
.play_button {
	margin-top: -170px;
	margin-left: 415px;
	position:absolute;
}
.play_small {
	position: absolute;
	margin-left: -88px;
	margin-top: 40px;
}
.pulledquote:before {
	display: block;
	float: right;
	content: attr(data-pullquote);
	padding: 0 0 0 10px;
	margin: 0 100px 10px 10px;
	width: 270px;
	font-size: 1.50em;
	line-height: 1.4em;
	text-align: right;
	color: #A80000;
	font-style: italic;
}
.pulledquote-left:before {
	display: block;
	float: left;
	content: attr(data-pullquote);
	padding: 0 0 0 10px;
	margin: 0 50px 10px 0px;
	width: 270px;
	font-size: 1.50em;
	line-height: 1.4em;
	text-align: right;
	color: #A80000;
	font-style: italic;
}
.tick_town {
	background-color: #58c026;
	border-radius: 3px;
}
.indent_list {
	margin-left: 30px;
}
.invitation_box {
	color: white;
	background-color: #3085d6;
	border-radius: 4px;
}
#invitation_title {
	margin-left: 25px;
	color: #F8F8FF;
}
#trust_print {
	font-size: .75em;
	color: gray;
	margin-left:260px;
}










