// Place all the styles related to the marketing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.second_section{
	background: url('/assets/noise.png') repeat;
	height: 2800px;
}
.marketing_header {
	background: none repeat scroll 0 0 rgba(255, 255, 255, .7);
	color: black;
	text-align: center;
}
